<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="utf-8" />
    <meta name="description" content="calling and weather" />
    <meta name="keywords" content="twilio, weather" />
    <title>Weather App</title>
  </head>
  <body>
    {% if user_list %}
      <ul>
        {% for user in user_list %}
          <li>
            <a href="{% url 'polls:weather' zip=user.zip %}">{{ user }}</a>
          </li>
        {% endfor %}
      </ul>
    {% else %}
      <p>No polls are available.</p>
    {% endif %}
  </body>
</html>
